name: Build and Push Docker Image

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          python -m unittest test_flareproxy.py

  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase REPO
        id: lower-repo
        run: |
          echo "repository=${GITHUB_REPOSITORY@L}" >> $GITHUB_OUTPUT

      - name: Set Docker tag
        id: set-tag
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            TAG=latest
          else
            TAG=$(echo "${GITHUB_REF#refs/heads/}" | tr / -)
          fi
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: Build and tag Docker image
        run: |
          docker build . -t ghcr.io/${{ steps.lower-repo.outputs.repository }}:${{ steps.set-tag.outputs.tag }}

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ steps.lower-repo.outputs.repository }}:${{ steps.set-tag.outputs.tag }}
